<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
    {% block head %} {% endblock %}

</head>
<style>
body{
 background-image:url({{ url_for ('static', filename = '/back.jpg') }});
 color:white;
 }
 h1{
 text-align:'center'
 }
 button{
 font-size:20px;
 opacity:.5;
 }
 table.norm{
 width:50%;
 text-align:center;
}
table.norma{
text-align:center;
}
</style>
<body >
<center><h1 style ="margin : 15 px;">Attack Framework</h1>
    {% block body %}{% endblock %}
    </center>
</body>
</html>