{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<code>
    <h1> DIRECTORY ENUMERATION</h1>
    <form class="dir_enum" action="/direnum_result" method="POST">
    <label for="ip">Enter IP address:</label>
    <input type="text" name="ip" id="ip">
    <input type="submit" value="Directory enumeration ">
    </form>
</code>
 {% if res %}
    <table>
    <tr><th>Directory</th>  <th>Response code</th>
    {% for p ,info in res.items()%}
   <tr><td>{{p}}</td><td>{{info}}</td>
</tr>
{% endfor %}
        {% endif %}
    </table>


</div>
{% endblock %}