{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <TABLE>
            <h2><i>GAINING ACCESS</i></h2>
        <th><a href="payloads.html"><button>BACKDOORS</button></a></th>
        <th><a href="sql.html"><button>SQL INJECTION </button></a></th>
        <th><a href="xss.html"><button>CROSS SITE SCRIPTING</button></a></th>
         <th><a href="cve.html"><button>COMMON VULNERABILITIES AND EXPOSURES</button></a></th>

    </TABLE>
    <p>

    </p>

</div>
{% endblock %}