{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <TABLE>
        <th><a href="recon.html"><button>Reconnaissance</button></a></th>
        <th><a href="scan.html"><button>Scanning</button></a></th>
        <th><a href="gain_acess.html"><button>Gaining access</button></a></th>
        <th><a href="priv_esc.html"><button>Privilege Escalation</button></a></th>
        <th><a href="report.html"><button>report</button></a></th>
    </TABLE>
    <p>

    </p>


</div>
{% endblock %}