{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <TABLE>
        <th><a href="recon.html"><button>RECONNAISSANCE</button></a></th>
        <th><a href="scan.html"><button>SCANNING</button></a></th>
        <th><a href="gain_acess.html"><button>GAINING ACCESS</button></a></th>
        <th><a href="priv_esc.html"><button>PRIVILEGE ESCALATION</button></a></th>
        <th><a href="report.html"><button>REPORT</button></a></th>
    </TABLE>
    <p>

    </p>


</div>
{% endblock %}