{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<style>
    table{
     width:80%;
    }
</style>
<div class="content" >
    <TABLE style="border-spacing :0 20px;">
        <p>Click on any option given below to download the respective backdoors </p>
        <tr>
        <th><a href="/bashtcp"><button>Bash TCP</button></a></th>
        <th><a href="/bashudp"><button>Bash UDP</button></a></th>
        <th><a href=/ipv4><button>IPV4</button></a></th>
        <th><a href="/ipv6"><button>IPV6</button></a></th>
        <th><a href="/perl"><button>Perl</button></a></th>
        </tr>
        <tr>
        <th><a href="/php"><button>PHP</button></a></th>
        <th><a href="/java"><button>JAVA</button></a></th>
        <th><a href="/awk"><button>AWK</button></a></th>
        <th><a href="/awk"><button>NETCAT</button></a></th>
        <th><a href="/powershell"><button>POWERSHELL</button></a></th>
        </tr>

    </TABLE>
    <p>

    </p>


</div>
{% endblock %}