{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<code>
    <h1> Port scanner</h1>
    <form class="scan" action="/portscan_result" method="POST">
    <label for="ip">Enter IP address:</label>
    <input type="text" name="ip" id="ip">
    <input type="submit" value="SCAN">
    </form>
</code>
<code>
    {% if res %}
    <table class="norm">
    <tr><th>Port number</th><th>State</th><th>product</th><th>Version</th></tr>
    {% for p ,info in res.items()%}
   <tr><td>{{p}}</td>
    {% for key in info%}
        <td>{{info[key]}}</td>
{% endfor %}</tr>
{% endfor %}
        {% endif %}
</table>
</code>


</div>
{% endblock %}