{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<style>

</style>
<div class="content">
    <h3><I>RECONNAISSANCE</I></h3>
    <TABLE>

        <th><a href="discovery.html"><button>DISCOVERY</button></a></th>
        <th><a href="google_dork.html"><button>GOOGLE DORKING</button></a></th>
        <th><a href="os_disc.html"><button>OS DISCOVERY</button></a></th>
        <th><a href="port_scanner.html"><button>PORT SCANNING </button></a></th>
    </TABLE>
    <p>

    </p>


</div>
{% endblock %}