{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<code>
    <h1> CROSS SCRIPTING VULNERABILITY CHECK  </h1>
    <form class="xss" action="/xss_res.html" method="POST">
    <label for="ip">Enter  address:</label>
    <input type="text" name="ip" id="ip">
    <input type="submit" value="SCAN">
    </form>
</code>
<code>
    {% if res %}
    <table>
        <tr><th>VULNERABLE LINKS </th></tr>
        {% for p in res%}
        <tr><td>{{p}}</td></tr>

{% endfor %}
        {% endif %}
</table>
</code>


</div>
{% endblock %}